GEMINI_KEYS=KEY1,KEY2,KEY3,KEY4
CF_ACCOUNT_ID=ACCOUNT_ID
CF_API_TOKEN=CLOUDFLARE_APIKEY
CF_MODEL=@cf/moonshotai/kimi-k2.5 
NCF_MODEL=@cf/meta/llama-4-scout-17b-16e-instruct
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=nanu
DB_NAME=college_db
DBs_NAME=secureapp
APP_SECRET_KEY=MySecureKey2026
